<body>
  <div class="container">
      <nav class="navbar navbar-default">
          <div class="navbar-header">
              <a routerLink="/" class="navbar-brand">{{title}}</a>
          </div>
      </nav>
  </div>

  <div class="container-fluid mt-4">
      <div class="col-lg-6">
        <label>Input Code:</label>
        <textarea [(ngModel)]="inputClass"></textarea>
      </div>

      <div class="col-lg-6">
        <label>Test Template:</label>
        <textarea [(ngModel)]="templateClass"></textarea>
      </div>

  </div>

  <div style="text-align: center; margin-top: 20px;">
    <button (click)="generate()">Generate Tests</button>
  </div>

  <div *ngIf="generatedTests" style="text-align: center; margin-top: 20px;">
    <h2>Generated Tests:</h2>
    <pre>{{ generatedTests }}</pre>
  </div>
</body>


