  <div class="container">
      <nav class="navbar navbar-default">
            <ul>
              <li><div class="sidebar" (click)="toggleSidebar()">☰</div></li>
              <li><a routerLink="/" class="navbar-brand">{{title}}</a></li>
              <li style="float:right; margin-left: 10%"><button class="theme-button" (click)="toggleTheme()"> {{ themeLabel }}</button></li>
              <li class="coverage-container"><div class="coverage-div">
                <h3 class="coverage-text" *ngIf="coverage > 0">Coverage: {{ coverage }}%</h3>
                <h3 class="coverage-text" *ngIf="coverage == 0">Coverage: -</h3>
              </div></li>
            </ul>
      </nav>
  </div>

  <div class="container-fluid mt-4">
    <div *ngIf="!sidebarCollapsed" class="app-container">
      <aside class="col-lg-3" [class.collapsed]="sidebarCollapsed">
        <label>Test Cases</label>
        <div class="tooltip-container">&#9432;
          <span class="tooltip-text">
            <p>With this language, you can easily specify how tests should be generated for a given class or method.</p>
              <ul>
                  <li><strong>CONSTRUCTOR</strong> – optional section, specifies the parameters of the constructor. Example: <code>CONSTRUCTOR PARAM int id VALUE 1</code></li>
                  <li><strong>MOCKING</strong> – optional section, definition of mock objects. Example: <code>MOCK Service serviceMock</code></li>
                  <li><strong>TEST</strong> – start of a new test case.
                    <ul>
                      <li><strong>REPEAT</strong> – number of test repetitions.</li>
                      <li><strong>METHOD</strong> – name of the method to be tested.</li>
                      <li><strong>PARAM</strong> – method parameters and their values:
                        <ul>
                          <li><code>VALUE x</code> – a single value</li>
                          <li><code>VALUES [x, y, z]</code> – multiple values</li>
                        </ul>
                      </li>
                      <li><strong>VARIATION</strong> –method parameters that appear in tests with variable parameter values:
                        <ul>
                          <li><code>VALUES [x, y, z]</code> – multiple values</li>
                          <li><code>VALUES FOR x TO y</code> – numbers in sequence</li>
                        </ul>
                      </li>
                      <li><strong>EXPECT</strong> – expected output (<code>not</code> prefix for negation)
                        <ul>
                          <li><code>x</code> – a single value</li>
                          <li><code>[x, y, z]</code> – multiple values</li>
                          <li><code>FOR x TO y</code> – numbers in sequence</li>
                        </ul>
                      </li>
                      <li><strong>EXPECT_EXCEPTION</strong> – expected exception, with optional message</li>
                  </ul>
                </li>
              </ul>
              <p><strong>Supported types example: </strong> <code>int</code>, <code>float</code>, <code>double</code>, <code>char</code>, <code>boolean</code>, <code>string</code>, <code>enum</code>, <code>List&lt;...&gt;</code>, <code>Optional&lt;...&gt;</code>, <code>Map&lt;...&gt;</code>, <code>Set&lt;...&gt;</code>, <code>custom type</code>.</p>
              <p><strong>Example:</strong></p>
              <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="infoButton"></ngx-monaco-editor>
          </span>
        </div>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="testCases" (init)="onTestEditorInit($event)"></ngx-monaco-editor>
      </aside>
    </div>

      <div [ngClass]="{ 'col-lg-4': !sidebarCollapsed, 'col-lg-6': sidebarCollapsed }">
        <label>Input Class:</label>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="inputClass"></ngx-monaco-editor>
      </div>

      <div [ngClass]="{ 'col-lg-5': !sidebarCollapsed, 'col-lg-6': sidebarCollapsed }">
        <label>Test Class:</label>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="templateClass"></ngx-monaco-editor>
        <button class="copy icon" (click)="copyEditorContent()">Copy</button>
        <div *ngIf="copySuccess" class="copy-badge">Copied</div>
        <button class="copy icon" style="right: 7.5em;" (click)="downloadEditorContent()">Download</button>
      </div>
  </div>

  <div class="error-modal" *ngIf="showError">
    <div class="error-box">
      <h3>Error occurred</h3>
      <p>{{ errorMessage }}</p>
      <button (click)="closeError()">Ok</button>
    </div>
  </div>

  <div class="loader-overlay" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
  
  <div style="text-align: center; margin-top: 10px;">
    <button (click)="generate()">Generate Tests</button>
  </div>





