html, body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 90vh;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  text-align: center;
  margin-bottom: 5px;
}

.flex-textarea {
  flex: 1;
  width: 100%;
  resize: none;
  font-family: monospace;
  font-size: 14px;
}