  <div class="container">
      <nav class="navbar navbar-default">
            <ul>
              <li><div class="sidebar" (click)="toggleSidebar()">☰</div></li>
              <li><a routerLink="/" class="navbar-brand">{{title}}</a></li>
              <li style="float:right"><button class="theme-button" (click)="toggleTheme()"> {{ themeLabel }}</button></li>
            </ul>
      </nav>
  </div>

  <div class="container-fluid mt-4">
    <div *ngIf="!sidebarCollapsed" class="app-container">
      <aside class="col-lg-3" [class.collapsed]="sidebarCollapsed">
        <label>Test Cases</label>
        <div class="tooltip-container">&#9432;
          <span class="tooltip-text">TODO test cases description</span>
        </div>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="testCases"></ngx-monaco-editor>
      </aside>
    </div>

      <div [ngClass]="{ 'col-lg-4': !sidebarCollapsed, 'col-lg-6': sidebarCollapsed }">
        <label>Input Class:</label>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="inputClass"></ngx-monaco-editor>
      </div>

      <div [ngClass]="{ 'col-lg-5': !sidebarCollapsed, 'col-lg-6': sidebarCollapsed }">
        <label>Test Class:</label>
        <ngx-monaco-editor class="monaco" [options]="editorOptions" [(ngModel)]="templateClass"></ngx-monaco-editor>
        <button class="copy icon" (click)="copyEditorContent()">Copy</button>
        <div *ngIf="copySuccess" class="copy-badge">Copied</div>
        <button class="copy icon" style="right: 7.5em;" (click)="downloadEditorContent()">Download</button>
      </div>
  </div>

  <div class="loader-overlay" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
  
  <div style="text-align: center; margin-top: 30px;">
    <button (click)="generate()">Generate Tests</button>
  </div>





