version: '3.8'

services:
  app:
    image: viku243/unittestgen:latest
    container_name: app
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ENV=prod
