name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    name: Build Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

  deploy:
    name: Deploy Image
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Deploy Image
        run: docker run . --file Dockerfile --tag my-image-name:$(date +%s)
